
{% extends 'base.html' %}
{% block 'main' %}


<!--/.Navbar-->
  <h1 class="text-center mt-4" >Bienvenue notre Blog!</h1>
  <div class="container">
    <div class="row">
      {% for article in liste_articles %}
      <!-- Card -->
      <div class="col-12 col-md-6 col-lg-3 col-xl-3" >
          <div class="card mt-4"><!-- tel:col-3;tab:col-md-6;pc:col-lg-3;desktop:col-xl-3-->
            <!-- Card image -->
            <!-- si article pas d'image-->
            {% if article.image == "http://default"  %}
              <a href="{% url 'detail' article.id %}" ><img class="card-img-top" src="https://via.placeholder.com/400x300" alt="Card image cap" style="height: 200px;"> </a>
            {% else %}
              <a href="{% url 'detail' article.id %}" ><img class="card-img-top" src="{{ article.image.url }}" alt="Card image cap" style="height: 200px;"> </a>
            {% endif %}
            <!-- Card content -->
            <div class="card-body" style="height: 240px;">
    
              <!-- Title -->
              <h4 class="card-title"><a href="{% url 'detail' article.id %}">{{ article.title }}</a></h4>
              <!-- Text truncer:reduire ; date publication -->
              <p class="card-text">{{ article.description|truncatewords:8}}</p>
              <p class="card-text">Publié y a {{ article.created_at|timesince}}</p>
              <!-- Button -->
              <a href="{% url 'detail' article.id %}" class="btn btn-primary">Lire la suite</a>
    
            </div>
          </div>
          <!-- Card -->
      </div>
      
      {% endfor %}
    </div>
  </div>
  
{% endblock 'main' %}
  